footer.footer 
    .footer-container
        ul.col-1 
            li 
                h3 Sitemap
            br
            li 
                a(href="/") Home
            li 
                a(href="/employees/add") New employee
            li 
                a(href="/employees") My employees 
        ul.col-2 
            li  
                h3 Contact Us
            br  
            li  
                p + 998 (00) 123 45 67   
            li  
                p + 1 (427) 358 58 10   
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.305935303!2d-74.25986548248684!3d40.69714941932609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2s!4v1649092475639!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")   
    .footer-copyright 
        p ClickWell © Copyright 2022. All rights reserved
        