mixin link(href, name)
    a(href=href)&attributes(attributes)= name

header.header 
    h1.logo 
        a(href='/') 
            |Click
            span Well 
    ul.links
        li 
            +link('/', 'Home')   
        li 
            +link('/employees/create', 'New employee')
        li 
            +link('/employees', 'My employees')