extends layout.pug

block content
    .index 
    
        .index_left 
            p This Application is built to add, remove and update employees of organization as well as calculating their salaries. 
            p “This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service”.
            p This app is done by 00012162


            a(href="/employees/create").btn Create New
        .index_right
            img(src="https://psychology-business.ru/wp-content/uploads/2019/12/business-admin2.jpg", alt="company image")