* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header starts */

.header {
    width: 70%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    font-size: 2.2rem;
}

.logo a {
    text-decoration: none;
    color: darkblue;
    transition: 0.5s;
}

.logo span {
    color: blue;
}

.wrapper {
    min-height: 60vh;
}

.logo a:hover {
    color: darkgray;
}

.logo a:hover span {
    color: darkblue;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links li {
    margin-right: 2rem;
    font-size: 1.1rem;
    list-style: none;
}

.links li a {
    text-decoration: none;
    color: darkgray;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 1.2rem;
    transition: .4s;
}

.links li a:hover {
    color: darkblue;
}
/* Header ends */


/* Footer starts */

.footer {
    display: flex;
    flex-direction: column;
    padding: 1rem 10rem;
    background: gainsboro;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-container iframe {
    height: 20rem;
    width: 35rem;
    border-radius: 10px;
}

.col-1, .col-2 {
    list-style: none;
}

.col-1 li, .col-2 li {
    margin-top: 0.5rem;
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
}

.col-1 li a {
    color: #111;
    text-decoration: none;
}

.col-1 li a:hover {
    color: darkblue;
}

.footer-copyright {
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    font-size: 1.3rem;
}
/* Footer ends */


/* Index pug starts */
.index {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 3rem;
}

.index_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.index_left p {
    font-size: 1.6rem;
    margin: 0 0 1rem 0;
    font-family:sans-serif;
}

.btn {
    font-size: 1.1rem;
    width: 8rem;
    height: 2.8rem;
    margin-top: 1rem;
    color: white;
    background: darkblue;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
}

.btn:hover {
    background: gainsboro;
    color: darkblue;
}

.index_right img {
    height: 18rem;
    border-radius: 10px;
}
/* Index pug ends */


/* Create pug starts */

.create-employee {
    max-width: 1100px;
    margin: 50px auto;
    position: relative;
}

.error {
    margin: 20px;
    font-size: 1.3rem;
    color: red;
    font-weight: 4000;
}

.create-employee .success span, .create-employee .error span {
    color: #268b12;
    font-weight: 550;
    font-size: 1.5em;
}

.form-title {
    font-size: 2.5rem;
    color: darkblue;
    text-align: center;
}

.create-employee form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.create-employee form .label {
    margin: 15px 0 5px 0;
}

.create-employee form input,
.login-container form div input{
    height: 2.5rem;
    background: #fff;
    transition: 0.5s;
    width: 50%;
    padding: 0 20px;
    font-size: 16px;
    border-bottom: #555 2px solid;
    border-radius: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
}

.create-employee form input:focus {
    background: rgba(167, 167, 167, 0.274);
    outline: none;
}

.btns {
    margin: 0.5rem 0;
    display: flex;
    gap: 2rem;
}
/* Create pug ends */


/* Employees pug starts */

.employees {
    width: 70%;
    margin: 0 auto;
    padding: 2rem;
}

table {
    margin-top: 2rem;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid gainsboro;
    text-align: left;
    padding: 8px;
}

tr:hover:not(:first-child) {
    background-color: gainsboro;
}

.fa-solid {
    font-size: 1.6rem;
}

.fa-pen-to-square {
    color: darkblue;
}

.fa-pen-to-square:hover {
    color: blue;
}

.fa-trash {
    color: gray;
}

.fa-trash:hover {
    color: black;
}

/* Employees pug ends */


/* Log in pug starts */

.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #222D32;
}

.login-container form {
    margin: 2rem 0;
}

.login-container form div {
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.login-container form div input {
    width: 15rem;
    margin-left: 3rem;
    padding: 1rem;
}

.key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    color: darkgrey;
}

.login-container h1 {
    color: white;
    font-size: 3rem;
    margin: 2rem 0;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

.btn_login {
    float: right;
    margin-right: 3rem;
}

/* Log in pug ends */